<!-- Search Bar -->
<link rel="stylesheet" href="/css/styles.css" />
<h1 class="title">Movie Matching</h1>
<div class="search-container">
  <div class="search-bar">
    <input type="text" id="search-input" placeholder="Search..." />
    <button id="search-button">🔍</button>
  </div>
</div>

<!-- Modal for Search Results -->
<div id="search-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div id="search-results"></div>
  </div>
</div>

<div class="nav-container">
  <nav>
    <a href="/">Home</a>

    <% if (locals.session.username) { %>
    <a href="/account">Profile</a>
    <a href="/logout">Logout</a>
    <% } else { %>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <% } %>
  </nav>
</div>
