<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Titel Film</title>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <h1 class="title">Titel van film/acteur</h1>

    </main>
    <footer>
        <!-- Hier komt een ejs met de footer! -->
    </footer>
    
</body>
</html>