<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css" />   
  </head>
  <body>
    <div class="login">
      <h2 class="sign-in">Inloggen</h2>
      <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input
          type="text"
          placeholder="username"
          id="username"
          name="username"
          required
        />
        <br />
        <label for="password">Password:</label>
        <input
          type="password"
          placeholder="password"
          id="password"
          name="password"
          required
        />
        <br />
        <button class="login_button" type="submit">Inloggen</button>
      </form>
      <a class="switch-page" href="/register">Create an Account</a>
    </div>
  </body>
</html>
