<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <div class="login">
    <h2>Create an Account</h2>
    <form action="/register" method="POST">
      <label for="username">&#128113;</label>
      <input type="text" placeholder="username" id="username" name="username" required><br>
      <label for="password">&#128273;</label>
      <input type="password" placeholder="password" id="password" name="password" required>
      <br />
      <button class="login_button" type="submit">Register</button>
    </form>
<<<<<<< HEAD:register.html
    <br>
    <a href="/">Login</a>
=======
    <a href="/login">Login</a>
>>>>>>> 1e6b492fdc57969eaae6456b32d51a4b7313c4b7:views/pages/register.ejs
  </div>
</body>
</html>
